@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body{
  overflow-x: auto;
}
/* Global Styles */
a{
  text-decoration: none;
}
li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 70px 0px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
.container-size{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Global Styles  End*/


/*------------------ Home page -----------------------*/

/* Header Design Start */
#header{
  padding: 20px 0;
  background-color: #E3E6F3;
  box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
#mobile-hum{
  display:none;
}
#navbar #close {
  display: none;
}
#navbar li {
  margin: 0 4px;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  padding: 15px 15px 10px;
  transition: 0.3s ease;
  position: relative;
}
#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: '';
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 16px;
}

/* Hero section */

#hero{
  background-image: url('../images/hero4.png');

  background-size: cover;
  background-position: top 25% right 0;
}
.hero-content{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-content h4{
  padding-bottom: 15px;
}
.hero-content h1{
  color: #088178;
}
.hero-content a{
  background-image: url('../images/button.png');
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
  color: #088178;
  padding: 14px 80px 14px 65px;
}


/* Feature Section */
#feature .feature-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-content .feature-box {
  width: 16%;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
.feature-content .feature-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}
.feature-content .feature-box img{
  width: 100%;
  margin-bottom: 10px;
}
.feature-content .feature-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
.feature-content .feature-box:nth-child(2) h6{
  background-color: #cdebbc;
}
.feature-content .feature-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
.feature-content .feature-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
.feature-content .feature-box:nth-child(5) h6{
  background-color: #f6dbf8;
}
.feature-content .feature-box:nth-child(6) h6{
  background-color: #fff2e5;
}

/* Feature Product Section */

#Product-section{
  text-align: center;
}
.product-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.Product-content .product{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
.Product-content .product:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
}
.Product-content .product img{
  border-radius: 4px;
}
.product .desc{
  text-align: start;
  padding: 10px 0;
}
.product .desc span{
  color: #088178;
  font-size: 12px;
}
.product .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.product .desc .product-rating i{
  font-size: 13px;
  color: rgb(243, 181, 25);
}
.product .desc h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
.Product-content .product .shop-cart-icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* Call to Action Section */
#banner{
  background-image: url('../images/banner/b2.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content h4{
  color: #fff;
  font-size: 16px;
}
.banner-content h2{
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
.banner-content h2 span{
  color: #ef3636;
}
.banner-content button:hover{
  background-color: #088178;
  color: #fff;
}


/* Call To Action Banners Section */
.sm-banner-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sm-banner-content .banner-box{
  background-image: url('../images/banner/b17.jpg');
  width: 49%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.banner-box h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.banner-box h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.banner-box span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
.sm-banner-content .banner-box:hover button{
  background-color: #088178;
  border: 1px solid #088178;
}
.sm-banner-content .banner-box:nth-child(2){
  background-image: url('../images/banner/b10.jpg');
}

/* Text Banners Section */
#text-banners .sm-banner-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#text-banners .banner-box{
  background-image: url('../images/banner/b7.jpg');
  width: 32%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
}
#text-banners .banner-box:nth-child(2){
  background-image: url('../images/banner/b4.jpg');
}
#text-banners .banner-box:nth-child(3){
  background-image: url('../images/banner/b18.jpg');
}
#text-banners .banner-box h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#text-banners .banner-box h3{
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}


/* Newsletter  Section */
#newsletter{
  background-image: url('../images/banner/b14.png');
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  margin-top: 100px;

}
.newsletter-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.newsText h4{
  font-size: 22px;
  font-weight: 7000;
  color: #fff;
}
.newsText p{
  font-size: 14px;
  font-weight: 6000;
  color: #818ea0;
}
.newsText p a{
  color: #ffbd27;
}
.newsForm{
  display: flex;
  width: 35%;

}
.newsForm input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.newsForm button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0px 4px 4px 0px;
}

/* Footer Section */
footer {
  padding: 80px 0 0px;
}
.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-content .fColom{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.fColom img.footer-logo {
  margin-bottom: 30px;
  width: 160px;
}
.fColom h4{
  font-size: 14px;
  padding-bottom: 20px;
}
.fColom p{
  font-size: 13px;
  margin: 0 0 10px 0;
}
.fColom a{
  font-size: 13px;
  margin-bottom:10px;
  color: #222;
}
.fColom a:hover{
  text-decoration: underline;
  color: #088178;
}
.socail-follow{
  margin-top: 20px;
}
.socail-follow .socail-icon a i{
  color: #041e42;
  margin-right: 4px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  text-align: center;
  margin: auto;
}
.socail-follow .socail-icon a i:hover{
  color: #000;
}
.footer-install img{
  margin: 10px 0 15px 0;
}
.footer-install .footer-install-images img{
  border: 1px solid #088178;  
  border-radius: 6px;
  width: 49%;
}
.copyRight {
  margin-top: 60px;
  width: 100%;
  text-align: center;
  background-color: #818ea0;
  padding: 20px 0 16px;
  color: #ddd;
}
.copyRight p{
  color: #ddd;
  margin: 0;
}
/*--------- Home page Design end ---------------*/
/*------------ Shop page -------------------*/

#page-pagination-header{
  background-image: url('../images/banner/b1.jpg');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.pagination-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  padding: 14px;
}
.pagination-content h2,
.pagination-content p{
  color: #fff;
}

.pagination-content-count{
  text-align: center;
}
.pagination-content-count a{
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
.pagination-content-count a i{
  font-size: 16px;
  font-weight: 600;
}
.pagination-content-count a:hover{
  background-color: #041e42;
}
/*------------ Shop page Design end-------------------*/
/*------------ Product single page -------------------*/
.product-detels-row {
  display: flex;
  justify-content: space-between;
}
.product-detels-row .single-pro-images{
  width: 40%;
}
.gallery-images-group{
  display: flex;
  justify-content: space-between;
}
.gallery-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.single-productdetels{
  width: 55%;
  padding-top: 30px;
}
.single-productdetels h4{
  padding: 40px 0 20px 0;
}
.single-productdetels h2{
  font-size: 26px;
}
.single-productdetels select {
  display: block;
  padding: 5px 10px;
  margin: 10px 0 15px;
}
.single-productdetels input{
  width: 60px;
  height: 45px;
  padding-left: 10px;
  font-size: 18px;
  margin-right: 10px;
  outline: none;
}
.single-productdetels button{
  background-color: #088178;
  color: #fff;
}
.single-productdetels span{
  line-height: 25px;
}